<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" type="image/png" href="/img/comicFavIcon.png" />
  <title>Comic Book Website</title>
</head>

<body class="browseBody">
  <%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>

    <form action="/search" method="GET">

  <label for="query">Search</label>
  <input 
    type="text" 
    id="query" 
    name="query"
    placeholder="Batman, Spider-Man..."
    value=""

    required
  />

  <!-- <label for="resources">Search Type</label>
  <select id="resources" name="resources">
    <option value="volume">Volumes</option>
    <option value="issue">Issues</option>
    <option value="character">Characters</option>
    <option value="team">Teams</option>
    <option value="publisher">Publishers</option>
    <option value="person">People (Creators)</option>
    <option value="series">Series</option>
  </select> -->

  <label for="limit">Results Limit</label>
  <select id="limit" name="limit">
    <option value="5">5</option>
    <option value="10" selected>10</option>
    <option value="20">20</option>
    <option value="50">50</option>
  </select>

  <button type="submit">Search</button>
</form>

     

</body>

</html>