@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


#banner{
    height: 20vh;
    background-image: url("/img/actionBackground.jpg");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bannerText{
    font-family: 'Anton', sans-serif;
    font-size: 6rem;
    text-transform: uppercase;
    color: #e10600;
    text-shadow: 4px 4px 4px #ffffff;
    letter-spacing: 2px;
}
 .custom-navbar {
    padding-top: 0.1rem;   /* Reduce vertical padding */
    padding-bottom: 0.1rem;
  }
